img{
	width:30%;
	float:left;
	margin: 1.66%;
}
p{
	font-family: Raleway;
	margin-left: 1.66%;
	font-size: 23px;
	font-weight: 1000;
	text-transform: uppercase;
	border-bottom: 2px solid black;
	width: 30%;
	padding-bottom: 20px;
}